:root{
  --header-background-color: rgb(32, 32, 32);
  --hover-effect-color: #83edf5
}

body{
  font-family: Roboto, Arial;
  margin: 0;
}

nav {
  background-color: var(--header-background-color);
  padding: 7px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.right-section{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.left-section p{
  color: white;
  padding-left: 25px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: color 0.5s;
  font-weight: 600;
}

.left-section p:hover{
  color: var(--hover-effect-color);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li{
  margin-right: 70px;;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

nav a:hover{
  color: var(--hover-effect-color);
}

.banner{
  margin-top: 64px;
  background-color: var(--header-background-color);
  padding-top: 80px;
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: 750px 1fr;
  color: white; 

}

.left-side-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  flex: 1;
}

.left-side-banner h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Developer";
  color: var(--hover-effect-color);
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100%+ 8px);
  height: 100%;
  background-color: var(--header-background-color);
  border-left: 2px solid var(--hover-effect-color);
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
  to{
    border-left: 2px solid var(--header-background-color);
  }
}

@keyframes words{
  0%, 20%{
    content: "Developer";
  }
  21%, 40%{
    content: "Designer";
  }
  41%, 60%{
    content: "Gamer";
  }
  61%, 80%{
    content: "Musician";
  }
  81%, 100%{
    content: "BackEnd Dev";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%,100%{
    width: calc(100% + 8px);
  }
}

.right-side-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 0 0;
}

.pfp{
  display:flex;
  height: 300px;
  border-radius: 150px;
  margin-right: 100px;
}

.more-button{
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid;
  cursor: pointer;
  font-family: Arial;
  font-weight: 600;
  transition: background-color 0.5s, font-family 1s;
}

.more-button:hover{
  background-color: var(--hover-effect-color);
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bold;
}

.next{
  padding-bottom: 700px;
  background-color: #272828;
}