:root{
  --header-background-color: rgb(32, 32, 32);
  --hover-effect-color: #83edf5
}

body{
  font-family: Roboto, Arial;
  margin: 0;
  background-color: var(--header-background-color);
}

nav {
  background-color: var(--header-background-color);
  padding: 7px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(63, 63, 63);
  z-index: 100;
}

.right-section{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.left-section p{
  color: white;
  padding-left: 25px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: color 0.5s;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
}

.left-section p:hover{
  color: var(--hover-effect-color);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li{
  margin-right: 70px;;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

nav a:hover{
  color: var(--hover-effect-color);
}

.active{
  color: var(--hover-effect-color);
}

.banner{
  margin-top: 64px;
  background-color: var(--header-background-color);
  padding-top: 30px;
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: 750px 1fr;
  color: white; 

}

.left-side-banner{
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 0 50px;
  flex: 1;
}

.name-title{
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  margin-bottom: -40px;
  color: rgb(224, 224, 224);
}

.name{
  font-size: 60px;
  color: white;
}

.left-side-banner h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;  
}

.left-side-banner p{
  margin-top: 0;
  color: rgb(224, 224, 224);
  font-size: 17px;
  line-height: 29px;
  margin: 0 10px 20px 10px;
  text-align: center;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Developer";
  color: var(--hover-effect-color);
  animation: words 14s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100%+ 8px);
  height: 100%;
  background-color: var(--header-background-color);
  border-left: 2px solid var(--hover-effect-color);
  right: -8px;
  animation: cursor .6s infinite, typing 14s steps(14) infinite;
}

@keyframes cursor{
  to{
    border-left: 2px solid var(--header-background-color);
  }
}

@keyframes words{
  0%, 20%{
    content: "Front-End Dev";
  }
  21%, 40%{
    content: "Back-End Dev";
  }
  41%, 60%{
    content: "Musician";
  }
  61%, 80%{
    content: "Gamer";
  }
  81%, 100%{
    content: "Alcoholic";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%,100%{
    width: calc(100% + 8px);
  }
}

.right-side-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px 0 0;
  justify-content: center;
}

.pfp{
  display:flex;
  height: 400px;
  border-radius: 70px;
  margin-right: 30px;
  border: 3px solid var(--hover-effect-color);
  transition: border 0.1s;
  cursor: pointer;
  margin-bottom: 20px;
}

.pfp:hover{
  border: 6px solid var(--hover-effect-color);
}

.more-button{
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 30px;
  border: 2px solid;
  cursor: pointer;
  font-family: Arial;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.more-button:hover{
  background-color: var(--hover-effect-color);
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bold;
  transform: scale(1.1);
}

.socials-section{
  background-color: #272828;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 300px 50px;
}

.socials-container{
  margin: 100px 20px 20px 20px;
  border-radius: 6px;
  border: 2px solid var(--hover-effect-color);
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.socials{
  display: flex;
  margin-top: 50px;
}

.svg-container{
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.socials img{
  filter: invert(1) brightness(0.7);
  height: 30px;
  border: 3px;
  box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.1);
  cursor: pointer;
  padding: 10px 10px 10px 10px; 
  transition: transform 0.15s;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(188, 187, 187));
}

.socials img:hover{
  filter: invert(1);
  transform: translateY(-5px) scale(1.05);
  background-image: linear-gradient(to bottom right, rgb(228, 228, 228), rgb(188, 187, 187));
}

.about-main{
    padding: 2em;
    max-width: 1200px;
    margin-top: 80px;
    background-image: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(41, 41, 41));
    border-radius: 40px;
    margin-right: 120px;
    margin-left: 120px;
  }

.about-containers {
  background-color: var(--header-background-color);
    background-image: var(--header-background-color);
    color: aliceblue;
    padding: 2em;
    margin-bottom: 20px;
    border: 3px solid var(--hover-effect-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: background-image 5s;
    line-height: 29px;
}

.about-containers:hover{
  background-image: linear-gradient(to bottom right, rgb(31, 31, 31), rgb(44, 44, 44));
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 0.5em;
}

.about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-containers h2,h3{
  text-align: center;
}